*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffffff;
}
body{
    font-family: "Dela Gothic One", sans-serif;
    background-color: #22242f;
}
a{
    text-decoration: none;
    color: white;
}

/*<<<<<<<<<<<<<<<<<<<<Navbar-styling>>>>>>>>>>>>>>>>>>>*/
.container-nav{
    padding: 60px 240px 0px;
}
.navbar-items{
    display: flex;
    justify-content: space-between;
}
.nav-list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.nav-items{
    width: 45%;
}
.nav-item{
    font-size: 22px;
    font-weight: bold;
}
.nav-link:hover{
    color: #615bdb;
    transition: 0.5s;
}
.nav-line{
    margin-top: 60px;
    border: 2px solid #615bdb;
}

.hamburger{
    height: 40px;
    width: 40px;
    background: none;
    outline: none;
    border: 2px solid white;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
}
.bar,.hamburger::before,.hamburger::after{
    content: "";
    display: block;
    height: 3px;
    border-radius: 5px;
    background-color: white;
    margin: 4px 0px;
    transition: 0.5s;
}
.hamburger{
    display: none;
}
.hamburger.is-active{
    border: none;
}
.hamburger.is-active .bar{
    opacity: 0;
}
.hamburger.is-active.hamburger::before{
    transform: rotate(45deg) translate(8px,5px);
}
.hamburger.is-active.hamburger::after{
    transform: rotate(-45deg) translate(5px,-2px);
}
.mobile-nav{
    display: none;
}
.mobile-nav.is-active{
    display: block;
}


/*<<<<<<<<<<<<<<<<<<<<Hero-section-styling>>>>>>>>>>>>>>>>>>>*/
.hero_section{
    padding-top: 120px;
    display: flex;
    justify-content: space-between;
}
.hero__section-left{
    padding-left:240px;
    width: 58%;
    position: relative;
}
.hero__left-tagline{
    color: #ffffff;
    font-size: 64px;
    font-weight: 800;
}
.tagline-desc{
    color: #ffffff;
    font-size: 32px;
    font-weight: 600;
}
.below-tagline-hr{
    border:3px solid #ffaf26;
    border-radius: 5px;
    width: 100px;
    margin: 20px 0px;
}
.purple-btn{
    margin-top: 120px;
    padding: 22px 30px;
    color: white;
    background-image: linear-gradient(to right, #1a2356 , #5b7bfb);
    font-size: 20px;
    display: inline-block;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    background-size: 300% 100%;
    font-weight: 600;
}
.purple-btn:hover{
    background-position: 100% 0;
    background-image: linear-gradient(to left, #1a2356 , #5b7bfb);
    transition: all 0.5s ease-in-out;
}
/* console.animation */
.hero__section-right{
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
}
.console{
    height: 500px;
    width: 800px;
}
#movement-btn{
    border: 30px solid black;
}
.background-illutration{
    height: 700px;
    width: 700px;
    position: absolute;
    left: -330px;
    bottom: -351px;
    z-index: -1;
    opacity: 0.4;
}


/*<<<<<<<<<<<<<<<<<<<<Partner-section-styling>>>>>>>>>>>>>>>>>>>*/
.partners_section{
    padding: 120px 240px;
}
.partner_section-title{
    font-size: 45px;
    font-weight: 700;
}
.partner_title-desc{
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
}
.partner-list{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid white;
    list-style: none;
    overflow: hidden;
    width: 80%;
    margin: auto;
    margin-top: 90px;
}
.partner-items img{
    margin: 0px 35px;
}
.bk-logo , .hp-logo{
    height: 160px;
    width: 160px;
}
.benco-logo{
    height: 170px;
    width: 270px;
}
.enba-logo{
    height: 120px;
    width: 270px;
}
.gamekit-logo{
    height: 50px;
    width: 240px;
}
.gamivo-logo{
    height: 50px;
    width: 240px;
}
.list-container{
    position: relative;
}
.carousel-btn-prev{
    position: absolute;
    top: 42%;
    outline: none;
    background: none;
    border: none;
    left: 30px;
    cursor: pointer;
}
.carousel-btn-next{
    position: absolute;
    top: 42%;
    outline: none;
    background: none;
    border: none;
    right: 30px;
    cursor: pointer;
}
.move-left,.move-right{
    width: 25px;
    height: 50px;
}


/*<<<<<<<<<<<<<<<<<<<<Counter-section-styling>>>>>>>>>>>>>>>>>>>*/
.counter__wrapper{
    padding: 80px 240px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.game_dist{
    padding: 20px 40px;
    margin: 0px 30px;
    text-align: center;
}
.counter{
    font-size: 80px;
    font-weight: 800;
    color: #5b7bfb;
}
.counter__disc{
    font-weight: 600;
    margin-top: 20px;
    font-size: 25px;
    font-family: "Poppins", sans-serif;
}


/*<<<<<<<<<<<<<<<<<<<<OFFER-section-styling>>>>>>>>>>>>>>>>>>>*/
.offer__section{
    padding: 80px 240px;
    background: url(../img/Illustrations/Mask\ Group\ 1.png) no-repeat;
    background-position: bottom -20rem right -20rem;
    background-size: 50rem;
}
.section-title{
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 20px;
}
.title-desc{
    font-size: 25px;
    font-weight: 500;
}
.spec__wrapper{
   margin-top: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.spec__card{
    padding: 20px 35px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(80, 80, 101);
    border-radius: 8px;
    width: 27rem;
    margin-top: 60px;
}
.spec__card:hover{
    margin-top: 0px;
    transition: 0.5s;
}
.spec-img{
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    height: 190px;
    width: 190px;
    box-shadow: 1rem 1rem 6rem 3rem #5b7bfb;
}
.spec_feature{
    font-size: 30px;
    font-weight: 700;
}
.spec_desc{
    font-size: 20px;
    line-height: 30px;
    font-weight: 500;
}
.spec__card-hr{
    width: 80%;
    border: 3px solid #5a75f2;
    border-radius: 6px;
    margin: 20px 0px;
}
.margin-center{
    margin: auto;
    margin-top: 120px;
    display: block;
    width: 18rem;
}

/*<<<<<<<<<<<<<<<<<<<<PROJECTS-section-styling>>>>>>>>>>>>>>>>>>>*/
.project__section{
    padding: 80px 205px;
    background: url(../img/Illustrations/Mask\ Group\ 1.png) no-repeat;
    background-position: top -10rem left -30rem;
    background-size: 50rem;
}
.project_card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background-image: linear-gradient(to right, #1a2356 , #5b7bfb);
    border-radius: 15px;
    perspective: 1000px;
}
.projects_wrapper{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-dec{
    width: 40%;
    transition: all 500ms ease-in;
    transform-style: preserve-3d;
}
.project-title{
    font-size: 40px;
    font-weight: 700;
}
.project{
    flex: 0 0 85rem;
    margin:32px;
}
.projects-list{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.project_det{
    margin-top: 30px;
    font-size: 22px;
    line-height: 35px;
    font-weight: 500;
    transform-style: preserve-3d;
}
.project-img{
    transform-style: preserve-3d;
    transition: all 500ms ease-in;
}
.game-img{
    transform-style: preserve-3d;
    height: 20rem;
    width: 35rem;
}
.prev-project,.next-project{
    height: 45px;
    width: 35px;
    background:none;
    outline: none;
    border: none;
    cursor: pointer;
}
.arrow-icon{
    height: 45px;
    width: 30px;
}

/*<<<<<<<<<<<<<<<<<<<<CONTACT-section-styling>>>>>>>>>>>>>>>>>>>*/
.querry-contact-section{
    padding:80px 240px;
    display: flex;
    justify-content: space-between;
}
.contact-title{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 56px;
}
.contact-no,.email{
    font-size: 24px;
    font-weight: 600;
    line-height: 45px;
}
.links{
    margin-top: 30px;
}
.links img{
    height: 55px;
    width: 56px;
    margin-right: 10px;
}
.contact-img{
    margin-top: 130px;
}
.contact{
    height: 362px;
    width: 656px;
}
.querry-section{
    background-color: #505065;
    border-radius: 30px;
    width: 50%;
}
.input-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 75%;
    margin: 4rem auto;
}
#name, #subject, #email-add, #tellus{
    width: 100%;
    height:60px;
    border-radius: 15px;
    margin-bottom: 36px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    padding-left: 10px;
    background-color:#22242f ;
}
::placeholder{
    color: #f5f5f5;
}
#name, #subject, #email-add, #tellus:focus{
    outline: none;
}
#tellus{
    padding: 10px;
    font-family: sans-serif;
    height: 15rem;
    resize: none;
}
.send-message{
    cursor: pointer;
    font-size: 18px;
    background-image: linear-gradient(to right, #1a2356 , #5b7bfb);
    color: #ffffff;
    font-weight: 700;
    height: 3.3rem;
    width: 13rem;
    outline: none;
    border: none;
    border-radius: 15px;
    margin-top: 1rem;
    transition: all 0.5s ease-in-out;
    background-size: 300% 100%;
    box-shadow: 0 4px 15px 0 rgb(182 187 255);
}
.send-message:hover{
    background-position: 100% 0;
    background-image: linear-gradient(to left, #1a2356 , #5b7bfb);
    transition: all 0.5s ease-in-out;
}

/*<<<<<<<<<<<<<<<<<<<<FOOTER-section-styling>>>>>>>>>>>>>>>>>>>*/
.section-footer{
    text-align: center;
    padding: 40px 240px 80px;
}
.purple-line{
    border: 4px solid #5a75f2;
    border-radius: 8px;
}
.about-details{
    margin-top: 4rem;
    font-size: 18px;
    font-weight: 600;
}



/*................<<<<<<<<<<<<<<<<<<<Landing Styling Ended>>>>>>>>>>>>>>>>>>........ */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<Mobile Media Querry>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
@media(max-width:567px){

     body{
         text-align: center;
     }

    /* nav-section */
    .container-nav {
        padding: 20px 16px;
    }
    .nav-line {
        margin-top: 15px;
    }
    .nav-brand{
        margin: auto;
    }
    .nav-logo{
        height: 30px;
        width: 140px;    
    }
    .nav-list {
        flex-direction: column;
        height: 170px;
        margin-top: 30px;
    }  
    .nav-item {
        background-color: #2c2f64;
        font-size: 20px;
        padding: 5px 0px;
        border-radius: 5px;
    }  
    .hamburger{
        display: block;
    }

    /* hero-section */
    .hero_section {
        padding: 16px;
        padding-top: 15px;
        display: block;
        text-align: center;
    }
    .hero__section-left {
        padding-left: 0px;
        width: 100%;
    }
    .hero__left-tagline {
        font-size: 35px;
    }
    .below-tagline-hr {
        margin: 20px auto;
    }    
    .tagline-desc {
        font-size: 20px;
    }
    .hero__left-discoverBtn {
        padding: 15px 18px;
        font-size: 18px;
        margin: auto;
        margin-top: 50px;
    }
    .hero__section-right {
        width: 100%;
        display: block;
        margin-top: 70px;
    }
    .background-illutration {
        height: 300px;
        width: 300px;
        left: 70px;
        bottom: -310px;
    }
    .console {
        height: 250px;
        width: 100%;
    }

    /* partner-section */
    .partners_section {
        padding: 50px 16px;
    }
    .partner_section-title {
        font-size: 35px;
    }
    .partner_title-desc {
        font-size: 18px;
    }
    .partner-list {
        width: 65%;
    }
    .benco-logo {
        height: 120px;
        width: 180px;
    }
    .bk-logo, .hp-logo {
        height: 110px;
        width: 110px;
    }
    .enba-logo {
        height: 110px;
        width: 180px;
    }
    .gamekit-logo {
        height: 40px;
        width: 180px;
    }
    .gamivo-logo {
        height: 40px;
        width: 180px;
    }
    /* counter section */
    .counter__wrapper {
        padding: 60px 16px;
        flex-direction: column;
    }
    .game_dist {
        padding: 20px 0px;
        margin: 0px;
    }
    .counter {
        font-size: 55px;
    }
    .counter__disc {
        margin-top: 10px;
        font-size: 22px;
    }
    /* offer section */
    .offer__section {
        padding: 60px 16px;
        background-position: top -21rem right -20rem;
        background-size: 33rem;
    }
    .section-title {
        font-size: 40px;
    }
    .title-desc {
        font-size: 20px;
    }
    .spec__wrapper {
        flex-direction: column;
    }
    .spec__card {
        padding: 20px;
        width: 100%;
        margin-bottom: 20px;
    }
    .spec-img {
        height: 120px;
        width: 120px;
    }
    .spec_feature {
        font-size: 25px;
    }
    .spec_desc {
        font-size: 18px;
    }
    .margin-center {
        margin-top: 40px;
        width: 14rem;
    }
    .purple-btn {
        padding: 20px 10px;
        font-size: 18px;
    }
    /* project section */
    .project__section {
        padding: 60px 16px;
        background-position: top -20rem left -20rem;
        background-size: 33rem;
    }
    .prev-project, .next-project {
        height: 30px;
        width: 20px;
    }
    .arrow-icon {
        height: 30px;
        width: 20px;
    }
    .project {
        flex: 0 0 100%;
        margin: 0px;
    }
    .project_card {
        padding: 20px;
        flex-direction: column;
    }
    .project-title {
        font-size: 30px;
    }
    .project_det {
        margin-top: 30px;
        font-size: 17px;
        line-height: 22px;
    }
    .project-dec {
        width: 100%;
    }
    .game-img {
        transform-style: preserve-3d;
        height: 10rem;
        width: 100%;
    }

    /* querry-section */
    .querry-contact-section {
        padding: 60px 16px;
        flex-direction: column;
    }
    .contact-title {
        font-size: 35px;
        margin-bottom: 30px;
    }
    .contact-no, .email {
        font-size: 20px;
        line-height: 45px;
    }
    .links img {
        height: 45px;
        width: 46px;
    }
    .contact-img {
        margin-top: 2rem;
    }
    .contact {
        height: 17rem;
        width: 100%;
    }
    .querry-section {
        width: 100%;
        margin-top: 40px;
    }
    .input-form {
        width: 85%;
        margin: 2rem auto;
    }
    #name, #subject, #email-add, #tellus {
        width: 100%;
        height: 45px;
        margin-bottom: 25px;
    }
    #tellus {
        height: 10rem;
    }
    .send-message {
        font-size: 16px;
        height: 3.3rem;
        width: 10rem;
    }
    /* footer-section*/
    .section-footer {
        padding: 30px 16px;
    }
    .about-details {
        margin-top: 2rem;
        font-size: 14px;
    }
    
    



    .hide{
        display: none;
    }
}